body {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #E0E0E0;
    font-family: sans-serif;
}


#header {
    font-family: sans-serif;
}

#blockmessage {
    font-family: "Poppins", sans-serif;
    font-size: 1.2em;
}

#info {
    width: 50%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration-line: underline;
    text-decoration-style: dotted; 
}